body.bg-other {
    background-color: #00639B;
    min-height: 100vh;
  }

.container1-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 150px;
    width: 30%;
    height: auto;
    background: #FCFAFA;
    padding-bottom: 30px;
    border-radius: 20px;
}

.header-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
    width: 150px;
}

.inputs-login{
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 100%;
}

.input-login svg{
    margin: 0px 25px;
    max-width: 100%;
    height: auto;
    width: 30px;
    color: #797979;
}

.input-login{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 60px;
    background: #eaeaea;
    border-radius: 15px;
    border:0.5px solid #3DBEE9;
}

.input-login input{
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 16px;
}

.submit-container-login{
    display: flex;
    margin: 35px auto;
    justify-content: center;
}

.btn-submit-login{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 350px;
    height: 50px;
    color: #FFFFFF;
    background: #EB8218;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: background-color 0.5s ease;
}

.btn-submit-login:hover{
    background-color: #0056b3;
}

.container-msg-error{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: rgba(255,0,0,0.5);
    border-radius: 15px;
    margin: 20px auto;
    padding: 15px 20px;
    color: #FCFAFA;
}
.container-msg-error p{
    font-size: 15px;
    margin: 0;
}

.demande-login{
    margin-top: 10px;
    color: #322F2C;
    font-size: 16px;
}

.demande-login span{
    color: #0056b3;
    cursor: pointer;
}

.link-custom{
    text-decoration: none;
    color: inherit;
}



