.info-d{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 273px;
    height: 120px;
    color: #020202;
    background: #FCFAFA;
    border-radius: 15px;
    font-size: 16px;
    box-shadow: 0 2px 8px #acd1e7;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info-d span{
    font-size: 24px;
    font-weight: 800;
    color: #2ACD30;
    padding-top: 10px;
    

}

.info-d hr{
    background-color: #E4E4E5;
    height: 0.1px;
    border: 0;
    width: 75%;
}