@font-face {
    font-family: 'CinematograficaExtraBold';
    src: url('../../assets/fonts/Cinematografica/Cinematografica-Extrabold-trial.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'CinematograficaLight';
    src: url('../../assets/fonts/Cinematografica/Cinematografica-Extralight-trial.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaCn';
    src: url('../../assets/fonts/Helvetica/HelveticaNeueLTProCn.otf');
}

.merci-container{
    background-image: url('../../../public/Background.svg');
    Background-size : 100% auto;
    font-family: 'CinematograficaExtraBold';
    min-height: 91.6vh;
    overflow-y: auto;
}

.merci-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 70vh;
    color: #FFFFFF;
    text-align: center;
    margin-top: 7%;
    gap: 25px;
}

.merci-content h1 {
    font-size: 250px;
    margin: 0;
}

.merci-content p {
    margin: 20px auto 0;
    font-family: 'HelveticaCn';
    font-size: 16px;
    max-width: 600px;
    text-align: center;
    letter-spacing: 1px;
}

.accueil{
    background-color: #ffffff;
    border: solid 1px black;
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px 0px 0px #000;
    transition: background-color 0.3s; 
}

.accueil:hover{
    background-color: #e0e0e0;
}

