.container-d{
    display: block;
    width: 82%;
    height: 100%;
    margin-left: 17.7%;
    position: absolute;
    overflow-y: auto;
}

.titre-d{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #020202;
    font-size: 70px;
    font-weight: 700;
}

.titre-d svg{
    max-width: 100%;
    height: auto;
    width: 50px;
    color: #00639B;
}

.user{
    cursor: pointer;
}

.titre-table{
    font-size: 18px;
    color: #020202;
    font-weight: 700;
}

.table-d-permission{
    display: flex;
    flex-direction: column;
    max-width: 95%;
    height: auto;
    border-radius: 20px;
    background: #FCFAFA;
    font-size: 16px;
    box-shadow: 0 2px 8px #acd1e7;
    margin: 30px;
    padding: 20px;
    margin-top: 0;
}

