@font-face {
    font-family: 'HelveticaCn';
    src: url('../../assets/fonts/Helvetica/HelveticaNeueLTProCn.otf');
}

.container-footer {
    display: flex;                   
    justify-content: space-between;  
    align-items: center;            
    padding: 10px 50px; 
    background-color: #f8a40c;         
    color: white;   
    max-height: 50px;
}

.container-footer img {
    max-height: 45px; 
}

.container-footer p {
    margin: 0;                       
    text-align: center;             
    flex: 1;
    font-family: 'HelveticaCn';   
    letter-spacing: 0.5px;

}

.icon-footer {
    color: white;
    font-size: 20px; 
    cursor: pointer;
    margin: 10px; 
}
