.container-demande{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 60px;
    width: 30%;
    height: auto;
    background: #FCFAFA;
    padding-bottom: 30px;
    border-radius: 20px;
    overflow-y: auto;
}

.headerdemande{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.logodemande img {
    height: 130px;
}

.inputs-demande{
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 100%;
}

.input-demande svg{
    margin: 0px 25px;
    max-width: 100%;
    height: auto;
    width: 30px;
    color: #797979;
}

.input-demande{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 60px;
    border: 0.5px solid #3DBEE9;
    background: #eaeaea;
    border-radius: 15px;
}

.input-demande input {
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 16px;
}

.submit-container-demande{
    display: flex;
    margin: 35px auto;
    justify-content: center;
}

.btn-submit-demande{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 350px;
    height: 50px;
    color: #FFFFFF;
    background: #EB8218;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: background-color 0.5s ease;
}

.btn-submit-demande:hover{
    background-color: #0056b3;
}

.container-msg-success {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: #3db058;
    border-radius: 15px;
    margin: 20px auto;
    padding: 15px 20px;
    color: #FCFAFA;
}

.container-msg-success p {
    font-size: 15px;
    margin: 0;
}

.container-msg-error{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: rgba(255,0,0,0.5);
    border-radius: 15px;
    margin: 20px auto;
    padding: 15px 20px;
    color: #FCFAFA;
}
.container-msg-error p{
    font-size: 15px;
    margin: 0;
}

.connecter-demande{
    margin-top: 10px;
    color: #322F2C;
    font-size: 16px;
}

.connecter-demande span{
    color: #0056b3;
    cursor: pointer;
}

.link-custom{
    text-decoration: none;
    color: inherit;
}