@font-face {
    font-family: 'CinematograficaExtraBold';
    src: url('../../assets/fonts/Cinematografica/Cinematografica-Extrabold-trial.ttf');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'CinematograficaLight';
    src: url('../../assets/fonts/Cinematografica/Cinematografica-Extralight-trial.ttf');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'HelveticaCn';
    src: url('../../assets/fonts/Helvetica/HelveticaNeueLTProCn.otf');
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 10px;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
}


.logo-client img{
    height: 50px;
    padding: 0 10px;
}

.menu-bar {
display: flex;
justify-content: center;
}

.menu {
display: flex;
list-style-type: none;
padding: 0;
margin: 0;
}

.menu li {
margin: 0 15px;
cursor: pointer;
font-weight: bold;
color: #F5F5F5;
font-family: 'CinematograficaExtraBold';
letter-spacing: 0.5px;
font-size: 20px;
}


.icon-header {
    display: flex;
    gap: 35px;
    color: #F5F5F5;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}




  



