body{
    background-color: #F5F5F5;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    background: #00639B;
    margin: 10px;
    padding-bottom: 30px;
    border-radius: 20px;
    width: 17%;
    height: 93%;
    position: fixed;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo img {
    max-width: 100%;
    height: auto;
    width: 150px;

}

.trait hr {
    width: 75%;
    border: 0;
    height: 0.1px;
    background-color: #FCFAFA;
}

.liens{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.liens svg {
    margin: 0px 10px;
    max-width: 100%;
    height: auto;
    width: 20px;
    color: #FFFFFF;
}

.submit{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 230px;
    height: 50px;
    color: #FFFFFF;
    background: transparent;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover{
    background: #ffffff42;
}

.link-custom{
    text-decoration: none;
    color: inherit;
}
