.container-d{
    display: block;
    width: 81%;
    height: 100%;
    margin-left: 17.7%;
}

.header-d{
    padding: 25px;
}

.titre-d{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #020202;
    font-size: 70px;
    font-weight: 700;
}

.titre-d svg{
    max-width: 100%;
    height: auto;
    width: 50px;
    color: #00639B;
}

.info-ds{
    display: flex;
    padding-left: 25px;
    gap: 20px;
}

.info-d{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 147px;
    color: #020202;
    background: #FCFAFA;
    border-radius: 15px;
    font-size: 16px;
    box-shadow: 0 2px 8px #00639B;
}

.info-d span{
    font-size: 24px;
    font-weight: 800;
    color: #2ACD30;
    justify-content: center;
    margin: 10px;
}

.info-d hr{
    background-color: #E4E4E5;
    height: 0.1px;
    border: 0;
    width: 75%;
}

.graph-d{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    gap: 20px;
}

.graph-ds{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 250px;
    border-radius: 20px;
    background: #FCFAFA;
    font-size: 16px;
    box-shadow: 0 2px 8px #00639B;
    padding: 20px;
}

.chart{
    width: 530px;
    height: 200px;
    border: solid;
    border-width: 0.1px;
    border-radius: 20px;
    align-items: center;
}

.titre-chart{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.titre-chart select {
    margin-left: auto;
    width: 70px;
    height: 25px;
    font-size: 14px;
    border-radius: 5px;
}

.table-d{
    display: flex;
    flex-direction: column;
    width: 1120px;
    height: 800px;
    border-radius: 20px;
    background: #FCFAFA;
    font-size: 16px;
    box-shadow: 0 2px 8px #00639B;
    margin: 30px;
    padding: 20px;

}

