.container-d{
    display: block;
    width: 82%;
    height: 100%;
    margin-left: 17.7%;
    position: absolute;
    overflow-y: auto;
}

.header-d{
    padding: 25px;
}

.titre-d{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #020202;
    font-size: 70px;
    font-weight: 700;
}

.titre-d svg{
    max-width: 100%;
    height: auto;
    width: 50px;
    color: #00639B;
}

.user{
    cursor: pointer;
}

.info-ds{
    display: flex;
    padding-left: 25px;
    gap: 20px;
}

.graph-d{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    gap: 20px;
}

.graph-ds{
    display: flex;
    flex-direction: column;
    width: 590px;
    height: 250px;
    border-radius: 20px;
    background: #FCFAFA;
    font-size: 16px;
    box-shadow: 0 2px 8px #acd1e7;
    padding: 20px;
}

.chart{
    width: 520px;
    height: 200px;
    border: 0.1px solid grey;
    border-radius: 20px;
    align-items: center;
}

.titre-chart{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.titre-chart select {
    margin-left: auto;
    width: 70px;
    height: 25px;
    font-size: 14px;
    border-radius: 5px;
}

.table-d{
    display: flex;
    flex-direction: column;
    width: 1100px;
    height: auto;
    border-radius: 20px;
    background: #FCFAFA;
    font-size: 16px;
    box-shadow: 0 2px 8px #acd1e7;
    margin: 30px;
    padding: 20px;

}

