.table-wrapper-d {
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    border: solid 0.1px grey;
    overflow-x: auto;
}

.table-dash {
    display: table;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    margin: 10px 0;
    border: none;
    border-radius: 30px;
}

.table-dash thead{
    background-color: #FCFAFA;
    color: black;

}

.table-dash th,
.table-dash td {
    padding: 0.7em;
    width: auto;
    text-align: center;
}

.table-dash td{
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-dash tbody tr:hover{
    background-color: #eee;
}

.label{
    border-radius: 3px;
    padding: 0.3rem;
    color: white;
}

.label-venir{
    color: #2ACD30;
}

.label-passe{
    color: #FF0000;
}

.actions{
    display: flex;
    justify-content: space-around;
}

.actions svg{
    max-width: 100%;
    height: auto;
    width: 20px;
    cursor: pointer;
}

.deleted{
    color: #FF0000;
}

.modified{
    color: #020202;
}

.info{
    color: #00639B;
}